*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Root Colors Established */
:root { 
    --dark: rgb(26, 25, 25);
    --light: rgb(152, 205, 248);
    --main: rgba(234, 236, 238, 0.603);
}
/* Sets Body Background Color and Fonts */
body { 
    background-color: var(--light);
    font-family: 'Tahoma', 'Verdana', sans-serif;
    display:flex;
    flex-direction: column;
}
/* Sets Main Header that contains nav bar */
header { 
    width: 100%;
    padding: 20px 20px 20px 0px;
    background-color: var(--dark);
    display: flex;
    align-items: center;
    justify-content:space-between;
}
/* Creates colored "border" around Chris Portfolio */
header h1 { 
    left: 0;
    background-color:var(--light);
    color: var(--dark);
    padding: 10px;  
}
/* Flex Navbar & Removes Bullet Points */
nav ul { 
    display: flex; 
    list-style: none;
}

nav ul li {
    margin: 20px;
} 

nav ul li a {
   text-decoration: underline;
    color: var(--main);
}
/* Sets Recent Picutre of Me Under Header */
.picture { 
    height: 420px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/snyder-test-3.jpg");
    background-size: cover;
    background-position-y: 30%;
    position: relative;
} 
/* "Cool Subtitle */
.picture-subtitle { 
   position: absolute;
   bottom: 10px;
   right: 50px;
   background-color:var(--light);
   color: var(--dark);
   padding: 10px;
} 
/* Sub-Header Styling */
.sub-headers {
    flex: 10%;
    font-size: 30px;
    padding: 0px 5px 0x 15px;
    border-right: 4px solid var(--dark);
    text-align: left;
}
/* Fixes Alignment Between Sub-Headers and Content */
.content div {
    flex:80%;
    padding-left: 20px;
}

.content {
    display: flex;
    justify-content: center;
    justify-items: flex-end;
    padding: 30px 40px 30px 15px;
}

.about-me {
    justify-content: center;
    padding-left: 20px;
}
/* Creates Grid For Future Deployed Projects */
.work-boxes {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    height: 80vh;
    flex: 80%;
    grid-gap: 10px;
}
/* Creates styling for work section */ 
 .work {
     width: 100%;
     height: 100%;
     background-size: cover;
     border:5px solid var(--light);
     display: flex;
     justify-content: flex-start;
     align-items: flex-end;
     background: cover;
}
 
 h3 {
     background-color: var(--dark);
     text-decoration: none;
     color: var(--light);
     padding:10px 20px 10px 10px;
}
/* Sets First Grid Item as Largest */
 .box-1 {
     background-image: url("../images/simultaneous-searches2.png");
     grid-column: 1 / span 2;
     grid-row: 1 / span 4;
     background-position-y: 5%;
     border:solid var(--dark);
     border-width: thick;
}
 
 .box-2 {
     background-image: url("../images/blood-donation.png");
     border:solid var(--dark);
     border-width: thick;
     background-position-y: 13%;
}
 /* Moves Picture on Y-Axis for Clarity */
 .box-3 {
     background-image: url("../images/calculator.jpg");
     background-position-y: 65%;
     border:solid var(--dark);
     border-width: thick;
}
 
 .box-4 {
     background-image: url("../images/pastel-puzzle.jpg");
     border:solid var(--dark);
     border-width: thick;     
}

 .box-5 {
     background-image: url("../images/run-buddy.jpg");
     background-position-y: 35%;
     border:solid var(--dark);
     border-width: thick;     
}
/* Sets Hover Opacity when hovering over application images */
a:hover {
    opacity: 0.5;
}
/* Styling for Contact Section */
.contact {
    display: flex;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
}

.contact a {
    text-decoration: none;
    color: var(--dark);
    font-size: larger;
    font-weight: bolder;
    text-decoration: underline;
} 

.resume a {
    text-decoration: none;
    color: var(--dark);
    font-size: larger;
    font-weight: bolder;
    text-decoration: underline;
} 

a {
    justify-content: space-between;
}

.resume {
    padding-left: 20px;
}
/* Media Query */
@media screen and (max-width: 992px) {
.content {
    display: block;
}
/* Fixes Sub-Header Size and Flex as Screen Shrinks */
.sub-headers {
    display:flex;
    justify-content: center;
    border-right: none;
    border-bottom: 4px solid var(--dark);
    margin-bottom: 5px
}

.content {
    padding: 10px;
}

.content div {
    padding-left: 0px;
}

.center {
    display: flex;
    justify-content: center;
}
}
/* Media Query for Phone Size */  
@media screen and (max-width: 768px) {
.content {
    width: 100%;
}
    
.work-boxes {
        grid-template-columns: none;
}
/* Resets Box-1 From Largest Application During Phone Size View */
.box-1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}
}