*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Root Colors Established */
:root { 
    --dark: rgb(26, 25, 25);
    --light: rgb(152, 205, 248);
    --main: rgba(234, 236, 238, 0.603);
}
/* Sets Body Background Color and Fonts */
body { 
    background-color: var(--light);
    font-family: 'Tahoma', 'Verdana', sans-serif;
    display:flex;
    flex-direction: column;
    width: 100vw;
}
/* Sets Main Header that contains nav bar */
header { 
    width: 100%;
    padding: 20px 20px 20px 0px;
    background-color: var(--dark);
    display: flex;
    align-items: center;
    justify-content:space-between;
}
/* Creates colored "border" around Chris Portfolio */
header h1 { 
    left: 0;
    background-color:var(--light);
    color: var(--dark);
    padding: 10px;  
}
/* Flex Navbar & Removes Bullet Points */
nav ul { 
    display: flex; 
    list-style: none;
}

nav ul li {
    margin: 20px;
} 

nav ul li a {
   text-decoration: underline;
    color: var(--main);
}
/* Sets Recent Picutre of Me Under Header */
.picture { 
    height: 420px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/snyder-test-3.jpg");
    background-size: cover;
    background-position-y: 30%;
    position: relative;
} 
/* "Cool Subtitle */
.picture-subtitle { 
   position: absolute;
   bottom: 10px;
   right: 50px;
   background-color:var(--light);
   color: var(--dark);
   padding: 10px;
} 
/* Sub-Header Styling */
.sub-headers {
    flex: 10%;
    font-size: 30px;
    padding-left: 15px;
    border-right: 4px solid var(--dark);
    text-align: left;
    padding-right: 5px;
}
/* Fixes Alignment Between Sub-Headers and Content */
.content div {
    flex:80%;
    padding-left: 20px;
}

.content {
    display: flex;
    justify-content: center;
    justify-items: flex-end;
    padding: 30px 40px 30px;
    padding-left: 15px;
}

.about-me {
    justify-content: center;
    padding-left: 20px;
}
/* Creates Grid For Future Deployed Projects */
.work-boxes {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    height: 80vh;
    flex: 80%;
    grid-gap: 10px;
}
  
 .work {
     width: 100%;
     height: 100%;
     background-size: cover;
     border:5px solid var(--light);
     display: flex;
     justify-content: flex-start;
     align-items: flex-end;
     background: cover;
}
 
 h3 {
     background-color: var(--dark);
     text-decoration: none;
     color: var(--light);
     padding-right: 20px;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 10px;
}
/* Sets First Grid Item as Largest */
 .box-1 {
     background-image: url("../images/surf-report.jpeg");
     grid-column: 1 / span 2;
     grid-row: 1 / span 3;
     background-position-y: 65%;
     border:solid var(--dark);
     border-width: thick;
}
 
 .box-2 {
     background-image: url("../images/led-wall.jpg");
     border:solid var(--dark);
     border-width: thick;
     background-position-y: 13%;
}
 /* Moves Picture on Y-Axis for Clarity */
 .box-3 {
     background-image: url("../images/calculator.jpg");
     background-position-y: 65%;
     border:solid var(--dark);
     border-width: thick;
}
 
 .box-4 {
     background-image: url("../images/pastel-puzzle.jpg");
     border:solid var(--dark);
     border-width: thick;     
}

 .box-5 {
     background-image: url("../images/run-buddy.jpg");
     background-position-y: 35%;
     border:solid var(--dark);
     border-width: thick;     
}

.contact {
    display: flex;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
}

.contact a {
    text-decoration: none;
    color: var(--dark);
    font-size: larger;
    font-weight: bolder;
    text-decoration: underline;
} 

.resume a {
    text-decoration: none;
    color: var(--dark);
    font-size: larger;
    font-weight: bolder;
    text-decoration: underline;
} 

a {
    justify-content: space-between;
}

.resume {
        padding-left: 20px;
}

/*Media Query */
/*
@media screen and (max-width: 768px)  {
    header {
        background-color: red;}
        *{ max-width: 768px ;
    
    
}}

  /*@media screen and (max-width: 480px) {
    .work-boxes{
        height: 50vh;
        justify-content: center;
    }
    .resume {
        flex-direction: column;
        align-items: center;
    }

    .resume div {
        padding: 5px 10px;
        margin: 5px 5px 2px 5px;
        font-weight: bolder;
    }

    .resume div:hover {
        font-size: 18px;
    } 

    header h1 {
        box-shadow: none;
    }
}
 */ 